* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-book {
    width: 70%;
    height: 70%;
    margin: 100px auto;
    box-shadow: 0 0 10px #586960;
    border-radius: 10px;
    background-color: #fff;
    color: #444;
}

.container-book-info {
    padding: 50px;
}

.container-book-info p {
    padding-top: 30px;
}


.container-book button {
    background-color: lightgray;
    border: none;
    background-color: #586960;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}

.container-book button:hover {
    color: #586960;
}