* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  padding-left: 5%;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  padding-left: 5%;
  border-bottom: 1px solid #ddd;
}

h1 {
  padding: 30px;
  color: black;

}
h2 {
  padding-bottom: 20px;

}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 20px #555;
  padding: 40px;
}

.container-payment {
  padding: 20px;

}

.registration-flight button {
  background-color: #777;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in;
}


.flight-container{
  margin: 50px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #555;
}

.heading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.input {
  width: 95%;
  padding: 10px;
  margin-top:5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.select {
  width: 100%;
  padding: 10px;
  margin-top:5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.container button {
  background-color: #777;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  transition: all 0.5s ease-out;
  border-radius: 10px;
  font-weight: 600;
  padding: 20px;
}

.container-register {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 50px;
}

.container-register-info {
  margin-bottom: 20px;
}

.container-register-info h2 {
  color: #333;
}

.container-register-info p {
  margin: 10px 0;
}

.error-message {
  background-color: #ffdddd;
  color: #ff0000;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  margin-bottom: 20px;
}

.container-register button {
  background-color: #586960;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-register button:hover {
  background-color: #2f422e;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin-bottom: 20px;
}

.container-register a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.container-register a:hover {
  text-decoration: underline;
}

